main{
  color: rgb(174, 112, 231);
  background-color: rgb(49, 48, 48);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


h1{
  font-weight: 600;
  color: rgb(174, 112, 231);
  background-color: rgb(49, 48, 48);
  font-size: 200%;
  text-indent: 35%;
  padding:5%;

}


img {
  white-space: nowrap;
  display: inline;
  margin: 3px;
  height: 400px;
  width: 430px;
  border-style: solid;
  border-width: 4px;
}

div{
  height: 800px;
  width: 1350px;
}

/* #rslts-btn {
  width: max-content;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: purple;
  position: relative;
  z-index: 0;
  margin: 30px auto 30px;
  height: 30px;
} */


#myChart{
  background-color: rgba(116, 243, 222, 0.822);
}


/* footer {
  height: 100px;
  font-size: 1.5em;
  text-align: right;
  margin-right: 20px;
  color: #7e57c2;
} */
